html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  background-size: 100%;
}
.navbar {
  padding: 5px;
}
#page-wrapper {
  display: flex;
  /*flex-flow: row;*/
  /*justify-content: flex-start;*/
  /*position: relative;*/
  /*align-items: stretch;*/

  padding: 15px 25px;
  width: 100%;
  height: 100%;
}
.flex-container-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.flex-container-col {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
.flex1 {
  flex: 1 1 20%;
}
.flex2 {
  flex: 2 40%;
}
.flex3 {
  flex: 3 60%;
}
.flex4 {
  flex: 4 80%;
}
.flex5 {
  flex: 5 100%;
}
.center {
  justify-content: center;
}
.navigator {
  border: 1px solid black;
  background-color: #4a4949;
  padding: 10px;
}
.canvas {
  width: 100%;
  height: 100%;
  margin: auto;
}
.title {
  color: #ffffff;
  background-color: #2c2c2c;
  text-align: center;
}
.titleGradient {
  background-image: linear-gradient( to bottom right, black, gray);
  background-size: 100%;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul li {
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  margin: 5, 5, 5, 5;
}
ul li b {
  color: #808080;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
ul li em {
  color: #808080;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
ul li b:hover {
  background-color: #d5d5d5;
}
ul li em:hover {
  background-color: #d5d5d5;
}
video {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}
*.icon-white {
  color: white;
}
i:hover {
  background-color: green;
}
*.icon-pink {
  color: pink;
}
